extends ../../layouts/_layout__pages

block title
  title News & Topics

block content
  h2.l-main--content--title News & Topics
  h3.l-main--content--subtitle ニュース
  section.p-news: table
    tbody
      include ../../data/_news
      each val in items
        if val.link
          tr.p-news--item__haslink.p-news--item
            td.p-news--item--date=val.date
            td
              a(href=val.link).p-news--item--text=val.text
        else
          tr.p-news--item
            td.p-news--item--date=val.date
            td.p-news--item--text
              p=val.text
              if val.links
                each item in val.links
                  a(href=item.link).c-smallBtn=item.text
        